.header{
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    .heading{
        margin: 0px;
    }
    .header-contents-container{
        display: flex;
        justify-content: space-between;
        width: 50%;
        .action-container{
            display: flex;
            align-items: center;
            .action-icon{
                margin-left: 12px;
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
        }
        .profile-container{
            display: flex;
            align-items: center;
            img{
                margin-left: 16px;
            }
        }
        .hover-action{
            border :none;
            input{
                transition: 0.1s all ease-in-out;
                visibility: hidden;
                width : 0px;
            }
            &:focus-within{
                border: 1.5px solid $hr_accent;
                input{
                    visibility: visible;
                    width: 200px;
                }
            }
            &:hover{
                border : 1px solid $hr_grey1;
                input{
                    visibility: visible;
                    width: 200px;
                }
            }
        }
    }
}